.input {
  position: relative;
  border-radius: $br-md;
  backdrop-filter: $blur;
  transition: $transition-1;
  box-sizing: border-box;
  border: 2px solid transparent;
  background: $dark;
  display: flex;
  align-items: center;
  padding: $padding-sm $padding-md;
  height: 48px;

  &_readonly {
    border-color: transparent !important;
  }

  &_focus {
    border-color: $primary;
    box-shadow: $shadow-3;
  }

  &__controller {
    appearance: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    transition: $transition-1;
    font-size: $fz-md;
    line-height: $fz-base;
    font-family: $font-family;
    color: $white;
    border-radius: $br-md;
    background: $dark;
    border: none;

    &_left {
      padding-right: 58px;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $grey;
      font-family: $font-family;
    }

    &:read-only {
      cursor: default !important;
    }
  }

  &__icon {
    position: relative;
    height: 24px;
    width: 24px;
    margin-right: $padding-md;
  }
}
