.network-stats {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $fz-xs;
  color: $grey;
  background: #e9eaea;
  position: relative;
  bottom: -8px;
  left: -20px;
  width: calc(100% - 40px);
  margin: 0 auto;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;

  @include dark-theme {
    background: color(dark, darkest);
    color: white;
  }

  &__item {
    margin: 0 $padding-normal;
    display: inline-flex;
    align-items: center;
    z-index: 1;
    position: relative;
  }

  &__avg {
  }

  &__status {
    display: inline-flex;
    align-items: center;
  }

  &__loader {
    margin: 0 4px;
    animation: spinner 2s linear infinite;
    height: 14px;
    width: 14px;

    @include dark-theme {
      color: white;
    }
  }

  &__file {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: $padding-big;
    margin-right: $padding-default;
    border: 4px solid white;
    transition: $transition-1;
    cursor: pointer;
    background: $primary;
    left: 44%;
    top: -24px;
    z-index: 1;

    @include dark-theme {
      border-color: color(dark, base);
    }

    &:hover {
      transform: scale(1.1);
    }

    &-icon {
      height: 18px;
      color: white;
      transition: $transition-1;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
