.table-placeholder {
  width: 100%;

  &__title {
    text-align: center;
    border-radius: $card-br;
    padding: $padding-default;

    @include dark-theme {
      background: $card-dark;
    }
  }
}
