<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>slc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>Surge Link Container</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Surge Link</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>surge</string>
			</array>
		</dict>
	</array>
	<key>NSUIElement</key>
	<true/>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleName</key>
	<string>Surge</string>
	<key>CFBundleExecutable</key>
	<string>Surge</string>
	<key>CFBundleIdentifier</key>
	<string>rule110.surge</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>CFBundleGetInfoString</key>
	<string>Built by Christian Busch at 13 Aug 20 21:51 CEST using Wails (https://wails.app)</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleIconFile</key>
	<string>iconfile</string>
	<key>NSHighResolutionCapable</key>
	<string>true</string>
</dict>
</plist>
