.dashboard {
  background: $base;
  height: calc(100% - #{$padding-big});
  width: 100%;
  margin-left: $sidebar-width;
  padding: 0 0 $padding-big $padding-big;
  position: relative;
  overflow: hidden;

  @include dark-theme {
    background: color(dark, base);
  }
}
