.file-info {
  display: flex;
  align-items: center;
  width: 100%;

  &__control {
    height: 20px;
    width: 20px;
    color: $grey;
    transition: $transition-1;
    cursor: pointer;
    margin-right: $padding-default;

    @include dark-theme {
      color: white;
    }

    &:hover {
      color: $primary;
    }

    &:active {
      color: $primary-dark;
    }

    &_remove {
      margin-top: $padding-small;

      &:hover {
        color: $error;
      }

      &:active {
        color: $accent;
      }
    }

    &_active {
      color: $primary !important;
      cursor: default;
    }

    &_error {
      color: $error !important;
      cursor: default;
    }

    &_alert {
      color: white !important;
      cursor: default;
      animation: spinner 2.5s linear infinite;

      @keyframes spinner {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  &__icon {
    margin-right: $padding-micro;
    height: 56px;
    width: 56px;
    color: $primary;

    path {
      fill: $primary;
    }

    polyline {
      fill: $primary-dark;
    }
  }

  &__title {
    font-weight: 600;
    color: $text-dark;

    @include dark-theme {
      color: white;
    }
  }

  &__size {
    color: $grey;
    margin-right: $padding-micro;
    min-width: 80px;

    @include dark-theme {
      color: color(dark, text-light);
    }
  }
}
