.file-info {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: $padding-default;
    height: 40px;
    width: 40px;
    transform: scaleX(-1);
    color: $primary;

    path {
      fill: $primary;
    }

    polyline {
      fill: $primary-dark;
    }
  }

  &__title {
    margin-bottom: $padding-micro;
    font-weight: 600;
    font-size: $fz-md;
    color: $text-dark;
    max-width: 200px;

    @include dark-theme {
      color: white;
    }
  }

  &__size {
    color: $grey;
    font-size: $fz-sm;

    @include dark-theme {
      color: color(dark, text-light);
    }
  }
}
