.sidebar {
  width: $sidebar-width;
  position: fixed;
  left: 0;
  height: calc(100% - 48px);
  padding: $padding-llg;
  border-right: $border;
  box-sizing: border-box;

  &__control {
    display: flex;
    align-items: center;
    gap: $padding-sm;
    color: $text-white;
    cursor: pointer;
    font-size: $fz-md;
    line-height: 16px;
    font-feature-settings: "salt" on;
    padding: $padding-sm 0;
    transition: $transition-1;

    &:hover {
      color: $primary;

      svg {
        path {
          stroke: $primary;
        }
      }
    }
  }

  &__controls {
    margin-bottom: $padding-md;
    padding-bottom: $padding-md;
    border-bottom: $border;
  }

  &__title {
    font-weight: $fw-bold;
    font-size: $fz-xs;
    line-height: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-feature-settings: "salt" on;
    color: $grey-light;
  }

  &__items {
    margin-top: $padding-sm;
  }

  &__item {
    height: 40px;
    width: 176px;
    border-radius: $br-md;
    display: flex;
    align-items: center;
    font-feature-settings: "salt" on;
    color: $text-white;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    transition: $transition-1;
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 40px;
      width: 192px;
      border-radius: $br-md;
      transition: $transition-1;
      left: -14px;
    }

    &_active {
      &::after {
        background: $white-ghost;
      }
    }

    &:hover {
      &::after {
        background: $white-ghost;
      }
    }

    &:not(:last-child) {
      margin-bottom: $padding-xxs;
    }

    &::before {
      content: "";
      display: block;
      background: $red;
      height: 8px;
      width: 8px;
      border-radius: 100%;
      margin-right: $padding-sm;
    }
  }
}
