.vue-notification-wrapper {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.fade-bottom-enter-active,
.fade-bottom-leave-active,
.fade-bottom-move {
  transition: all 0.5s;
}
.fade-bottom-enter,
.fade-bottom-leave-to {
  opacity: 0;
  transform: translateY(68px) scale(0.8);
}

.snackbar {
  position: fixed;
  padding-bottom: 60px;
  z-index: 100;

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #28282d;
    opacity: 0.85;
    box-shadow: 0 48px 100px rgba(17, 12, 46, 0.08);
    border-radius: 8px;
    color: #fff;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      background: transparent;
      height: 100%;
      width: 8px;
    }

    &_type {
      &_error {
        &::before {
          background: $danger;
        }
      }

      &_success {
        &::before {
          background: $success;
        }
      }
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }

  &__close {
    cursor: pointer;
    transition: $transition-1;
    margin-left: 1rem;
    position: relative;
    height: 20px;
    width: 20px;

    &-icon {
      height: 20px;
      width: 20px;
      left: -2px;
      top: -2px;
      position: relative;
    }

    &::before {
      content: "";
      display: block;
      width: 36px;
      height: 36px;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: $transition-1;
    }

    &:hover {
      &::before {
        background: rgba(#fff, 0.1);
      }
    }

    path {
      fill: #fff;
    }
  }
}
