.settings {
  position: relative;

  &__avatar {
    display: flex;
    justify-content: center;
    margin-top: $padding-default;
  }

  &__header {
    padding: $padding-default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $grey-light;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;

    @include dark-theme {
      background: color(dark, darkest);
    }

    &-version {
    }

    &-support {
      color: $grey;

      @include dark-theme {
        color: color(dark, text-light);
      }
    }

    &-link {
      display: inline-block;
      color: $primary;
      text-decoration: none;
      transition: $transition-1;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: $primary-dark;
      }
    }
  }

  &__item {
    font-family: "Roboto";
    padding: $padding-normal 0;
    margin: 0 auto;
    max-width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &-switch {
      position: absolute;
      right: 0;
      top: 18px;
    }

    &-link {
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      color: $primary;
      text-decoration: none;
      transition: $transition-1;
      cursor: pointer;

      &:hover {
        color: $primary-dark;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid #dfdfdf;

      @include dark-theme {
        border-color: color(dark, text-light);
      }
    }

    &-left {
      display: flex;
      align-items: center;
    }

    &-icon {
      height: 20px;
      width: 20px;
      color: $grey;
      margin-right: $padding-default;

      @include dark-theme {
        color: white;
      }
    }

    &-title {
      text-transform: uppercase;
      font-weight: bold;

      @include dark-theme {
        color: color(dark, text-light);
      }
    }
  }
}
