.v-tour {
  &__target {
    &--highlighted {
      box-shadow: none !important;
    }
  }
}

.v-step {
  border-radius: 12px !important;
  background: color(dark, base) !important;

  &__header {
    border-top-right-radius: 12px !important;
    border-top-left-radius: 12px !important;
    background: color(dark, darkest) !important;

    @include dark-theme {
      background: $primary !important;
      color: color(dark, darkest) !important;
    }
  }

  &__button {
    height: 38px !important;
    border-radius: $card-br !important;
    padding: 0 $padding-default !important;
  }

  &[x-placement="bottom"] {
    .v-step__arrow {
      border-bottom-color: color(dark, darkest) !important;
    }

    @include dark-theme {
      .v-step__arrow {
        border-bottom-color: $primary !important;
      }
    }
  }

  &[x-placement="top"] {
    .v-step__arrow {
      border-top-color: color(dark, base) !important;
    }
  }
}
