.file-status {
  &__speed {
    margin-bottom: $padding-small;
    font-size: $fz-md;
    color: $grey;
    display: flex;
    align-items: center;

    @include dark-theme {
      color: color(dark, text-light);
    }

    &-item {
      width: 200px;
      display: block;
    }
  }

  &__progress {
    width: 400px;
    height: 5px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: $app-br;
  }
}
