.file-status {
  &__speed {
    margin-bottom: $padding-small;
    font-size: $fz-md;
    color: $grey;
  }

  &__progress {
    width: 400px;
    height: 5px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: $app-br;
  }
}
