.button {
  border-radius: $br-md;
  text-align: center;
  transition: $transition-1;
  cursor: pointer !important;
  border: none;
  outline: none;
  text-decoration: none;
  appearance: none;
  box-sizing: border-box;
  font-weight: $fw-semi-bold;
  font-size: $fz-sm;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1px;
  font-feature-settings: "salt" on;

  &__icon {
    margin-right: 10px;
    height: 18px;
  }

  &_disabled {
  }

  &_size {
    &_md {
      padding: $padding-md $padding-xl;
    }
  }

  &_theme {
    &_primary {
      background: $primary-gradient;
      color: $white;
    }
  }
}
