.file-avatar {
  canvas {
    border-radius: 100%;
  }

  &_type {
    &_big {
      canvas {
        height: 130px;
        width: 130px;
      }
    }

    &_small {
      canvas {
        height: 35px;
        width: 35px;
      }
    }
  }
}
