.file-card {
  height: 220px;
  border-radius: 18px;
  padding: $padding-lg $padding-default $padding-normal $padding-default;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: $transition-1;

  &:hover {
    transform: translateY(-5px);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    flex: 0 0 16px;
    color: white;
    height: 16px;
    opacity: 0.8;
  }

  &__size {
    border-radius: 12px;
    background: rgba($color: $dark, $alpha: 0.7);
    padding: $padding-micro;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: $fz-xs;
  }

  &__footer {
    color: white;
  }

  &__title {
    margin-bottom: $padding-micro;
    font-size: $fz-md;
  }

  &__progress {
    font-size: $fz-xs;
  }
}
