.header {
  height: 88px;
  padding: 0 $padding-llg;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: $border;
  position: relative;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
  }

  &__button {
    margin: 0 $padding-llg;
  }

  &__right {
    height: 48px;
    display: flex;
    align-items: center;
  }
}
