.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: -32px;

  &__button {
    cursor: pointer;
    height: 24px;
    width: 24px;
    transition: $transition-1;

    &_active {
      color: $grey;
      cursor: pointer;

      @include dark-theme {
        color: white;
      }

      &:hover {
        color: $primary;
      }

      &:active {
        color: $primary-dark;
      }
    }

    &_inactive {
      color: $grey-light;
      cursor: not-allowed;

      @include dark-theme {
        color: color(dark, text-light);
      }
    }

    &:first-child {
      margin-right: $padding-default;
    }
  }
}
