.file-time {
  &__title {
    margin-bottom: $padding-small;
    font-size: $fz-md;
    color: $text-dark;

    @include dark-theme {
      color: color(dark, text-light);
    }
  }

  &__percent {
    color: $primary;
    font-size: $fz-sm;
  }
}
