.control-wrapper {
  &__title {
    font-weight: $fw-semi-bold;
    font-size: $fz-md;
    line-height: 24px;
    color: $white;
    opacity: 0.8;
    margin-bottom: $padding-xs;
    display: block;
  }

  &__descr {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: $fz-sm;
    line-height: 16px;
    color: $grey;
    margin-bottom: $padding-md;
  }

  &__row {
    display: flex;
    align-items: center;

    .checkbox {
      &:not(:last-child) {
        margin-right: $padding-md;
      }
    }
  }

  &__error {
    font-size: $fz-md;
    line-height: 24px;
    min-height: 24px;
    transition: $transition-1;
    opacity: 0;
    margin-top: $padding-xs;
    color: $danger;

    &_visible {
      opacity: 1;
    }
  }
}
