.file-seeders {
  display: flex;
  align-items: center;
  width: 160px;

  &__icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__item {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    border: 2px solid;
    border-color: $dark-light;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    position: relative;
    overflow: hidden;

    &:not(:first-child) {
      margin-left: -10px;
    }

    &_more {
      font-size: $fz-xs;
      font-weight: $fw-semi-bold;
      background: $dark-light;
    }
  }
}
