@import "../css/reset.css";
@import "./fonts";
@import "~vue-tour/dist/vue-tour.css";

html {
  font-size: $html-font-size;
}

body {
  background: $background;
  font-family: "Source Code Pro";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none; /** IE11 */

  * {
    line-height: 1.2em;
  }
}

b {
  font-weight: $fw-bold;
}

#app {
  height: 100vh;
}

/*========== scroll ==========*/

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  transition: $transition-1;
}

::-webkit-scrollbar-thumb {
  background-color: $grey;
  border-radius: $app-br;
  transition: $transition-1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $grey-light;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $grey-light;
  border-radius: $app-br;
  transition: $transition-1;
}

/*========== tab ==========*/

.tab {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $card-br;
  position: relative;
  overflow: hidden;
  margin-bottom: $padding-normal;
  background: $grey-light;

  @include dark-theme {
    background: color(dark, darkest);
    color: white;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-align: center;
    width: 180px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: $transition-1;

    &_active {
      color: white;
    }
  }

  &__marker {
    width: 180px;
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    background: $primary;
    border-radius: $card-br;
    transition: $transition-1;

    @include dark-theme {
      background: $card-dark;
    }

    &_right {
      transform: translateX(180px);
    }
  }
}

/*========== main container ==========*/

.main {
  margin: 0 auto;

  &__wrapper {
    background: $primary;
    height: 100%;
    position: relative;

    @include dark-theme {
      background: color(dark, darkest);
      color: white;
    }
  }

  &__tour {
    position: absolute;
    width: 100%;
    left: 0px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
    width: 1144px;
    height: 100%;

    @include dark-theme {
      background: rgba(255, 255, 255, 0.3);
    }
  }
}

/*========== page ==========*/

.page {
  padding-right: $padding-big;
  height: calc(100% - 98px);
  overflow-y: scroll;
  padding-top: calc(#{$padding-big} - #{$padding-default});

  &__title {
    font-weight: 700;
    font-size: $fz-title;
    margin-bottom: $padding-normal;
  }

  &__subtitle {
    font-weight: 700;
    font-size: $fz-llg;
    margin-bottom: $padding-normal;
  }

  &__results {
    background: $base;

    @include dark-theme {
      background: color(dark, base);
    }
  }
}

/*========== table ==========*/

.table {
  width: 100%;
  margin-bottom: $padding-max;
  position: relative;
  border-spacing: 0px 6px;

  &__row {
    display: flex;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__head {
    color: $grey;
    font-size: 15px;
    font-weight: normal;
    padding: 0 $padding-small $padding-micro $padding-small;
    font-weight: 500;
    font-size: $fz-md;
    font-family: "Roboto";
    transition: $transition-1;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    &-action {
      top: 6px;
      height: 15px;
      width: 15px;
      transition: $transition-1;
      margin-left: $padding-xs;

      &_asc {
        transform: scaleY(-1);
      }
    }

    &_active {
      color: $primary !important;
    }

    &_sortable {
      cursor: pointer;

      &:hover {
        color: $primary !important;
      }
    }

    @include dark-theme {
      color: color(dark, text-light);
    }
  }

  &__cell {
    display: flex;
    padding: $padding-micro $padding-small;
    font-size: $fz-sm;
    height: 51px;
    box-sizing: border-box;
    background: $grey-light;
    align-items: center;

    @include dark-theme {
      background: $card-dark;
      color: white;
    }

    &:first-child {
      border-top-left-radius: $card-br;
      border-bottom-left-radius: $card-br;
    }

    &:last-child {
      border-top-right-radius: $card-br;
      border-bottom-right-radius: $card-br;
      border: unset;
    }
  }

  &__action {
    height: 20px;
    width: 20px;
    color: $text-dark;
    transition: $transition-1;
    cursor: pointer;

    @include dark-theme {
      color: white;
    }

    &:hover {
      color: $primary;
    }

    &:active {
      color: $primary-dark;
    }

    &_remove {
      margin-right: $padding-small;

      &:hover {
        color: $error;
      }

      &:active {
        color: $accent;
      }
    }

    &_active {
      color: $primary !important;
      cursor: default;
    }
  }
}

/*========== text ==========*/

.text {
  &_wrap {
    &_none {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &_align {
    &_right {
      text-align: right;
    }

    &_center {
      text-align: center;
    }
  }
}

/*========== Modals ==========*/

.modal {
  width: 592px;
  z-index: 1;
  background: white;
  border-radius: $card-br;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding: $padding-big $padding-medium;
  box-shadow: $shadow-2;

  @include dark-theme {
    background: color(dark, darkest);
  }

  &__checkbox {
    margin-top: $padding-normal;

    &_footer {
      margin-bottom: 0 !important;
    }
  }

  &__footer {
    margin-top: $padding-medium;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &_end {
      justify-content: space-between;
    }

    &-controls {
      display: flex;
      align-items: center;
    }

    .button {
      &:not(:last-child) {
        margin-right: $padding-default;
      }
    }
  }

  &__body {
    &_flex {
      display: flex;
      flex-flow: row wrap;

      label {
        width: 100%;
      }
    }
  }

  &__title {
    text-align: center;
    margin-bottom: $padding-normal;
    line-height: 43px;
    font-weight: $fw-bold;
    font-size: $fz-title;
    font-family: "Roboto";
  }

  &__descr {
    margin-bottom: $padding-normal;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + #{$sidebar-width} + #{$padding-big});
    height: 100%;
    background: rgba(#535461, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition-1;
    visibility: hidden;
    z-index: 10000;
    opacity: 0;
    pointer-events: none;

    .modal {
      transform: translate(0, -25%);
      opacity: 0;
      transition: $transition-2;
    }

    &_open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;

      .modal {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
}

/*========== Tooltip ==========*/

.tooltip {
  display: block !important;
  z-index: 10000;

  &_left {
    .tooltip-arrow {
      left: 15px !important;
    }
  }

  .tooltip-inner {
    background: color(dark, darkest);
    color: white;
    border-radius: $card-br;
    padding: 5px 10px 4px;
    font-size: $fz-sm;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: color(dark, darkest);
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}
