@import "../css/reset.css";
@import "./fonts";

body {
  background: $background;
  font-family: "Source Code Pro";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    line-height: 1.1em;
  }
}

b {
  font-weight: $fw-bold;
}

/*========== scroll ==========*/

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  transition: $transition-1;
}

::-webkit-scrollbar-thumb {
  background-color: $grey;
  border-radius: $app-br;
  transition: $transition-1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $grey-light;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $grey-light;
  border-radius: $app-br;
  transition: $transition-1;
}

/*========== main container ==========*/

.main {
  height: $app-height;
  width: $app-width;
  margin: 0 auto;
  box-shadow: $shadow-1;
  border-radius: $app-br;

  &__wrapper {
    background: $primary;
    border-radius: $app-br;
    height: 100%;
    position: relative;
  }
}

/*========== page ==========*/

.page {
  padding-right: $padding-big;
  height: calc(100% - 98px);
  overflow-y: scroll;
  padding-top: calc(#{$padding-big} - #{$padding-default});

  &__title {
    font-weight: 700;
    font-size: $fz-title;
    margin-bottom: $padding-big;
  }

  &__subtitle {
    font-weight: 700;
    font-size: $fz-llg;
    margin-bottom: $padding-normal;
  }
}

/*========== table ==========*/

.table {
  display: table;
  width: 100%;
  margin-bottom: $padding-max;
  position: relative;

  &__row {
    display: table-row;
  }

  &__head {
    color: $grey;
    font-size: 15px;
    font-weight: normal;
    display: table-cell;
    padding-bottom: $padding-default;
    vertical-align: middle;
    font-weight: 500;
    font-size: $fz-md;
    font-family: "Roboto";

    &:first-child {
      width: 280px;
    }
  }

  &__cell {
    display: table-cell;
    padding: $padding-default 0;
    border-top: 1px solid $grey-light;
    vertical-align: middle;
    color: #4e5259;
  }

  &__action {
    height: 24px;
    width: 24px;
    color: $grey;
    transition: $transition-1;
    cursor: pointer;
    &:hover {
      color: $primary;
    }

    &:active {
      color: $primary-dark;
    }

    &_remove {
      margin-left: $padding-small;

      &:hover {
        color: $error;
      }

      &:active {
        color: $accent;
      }
    }

    &_active {
      color: $primary;
      cursor: default;
    }
  }
}

/*========== text ==========*/

.text {
  &_wrap {
    &_none {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &_align {
    &_right {
      text-align: right;
    }
  }
}

/*========== Modals ==========*/

.modal {
  width: 592px;
  margin: 0 auto;
  z-index: 1;
  background: white;
  border-radius: $card-br;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding: $padding-big $padding-medium;
  box-shadow: $shadow-2;

  &__checkbox {
    margin-top: $padding-normal;

    &_footer {
      margin-bottom: 0 !important;
    }
  }

  &__footer {
    margin-top: $padding-medium;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &_end {
      justify-content: space-between;
    }

    &-controls {
      display: flex;
      align-items: center;
    }

    .button {
      &:not(:last-child) {
        margin-right: $padding-default;
      }
    }
  }

  &__body {
    &_flex {
      display: flex;
      flex-flow: row wrap;

      label {
        width: 100%;
      }
    }
  }

  &__title {
    color: $dark;
    text-align: center;
    margin-bottom: $padding-normal;
    line-height: 43px;
    font-weight: $fw-bold;
    font-size: $fz-title;
    font-family: "Roboto";
  }

  &__descr {
    margin-bottom: $padding-normal;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + #{$sidebar-width} + #{$padding-big});
    border-radius: $app-br;
    height: 100%;
    background: rgba(#535461, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition-1;
    visibility: hidden;
    z-index: 10000;
    opacity: 0;
    pointer-events: none;

    .modal {
      transform: translate(0, -25%);
      opacity: 0;
      transition: $transition-2;
    }

    &_open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;

      .modal {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
}
