@import "../css/reset.css";
@import "./fonts";

body {
  background: $background;
  font-family: "Source Code Pro";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  height: $app-height;
  width: $app-width;
  margin: 0 auto;
  box-shadow: $shadow-1;
  border-radius: $app-br;

  &__wrapper {
    background: $primary;
    border-radius: $app-br;
    height: 100%;
    position: relative;
  }
}

.page {
  &__title {
    font-weight: 700;
    font-size: $fz-title;
    margin-bottom: $padding-big;
  }
}

.table {
  display: table;
  width: 100%;

  &__row {
    display: table-row;
  }

  &__head {
    color: $grey;
    font-size: 15px;
    font-weight: normal;
    display: table-cell;
    padding-bottom: $padding-default;
    vertical-align: middle;
    font-weight: 500;
    font-size: $fz-md;
    font-family: "Roboto";
  }

  &__cell {
    display: table-cell;
    padding: $padding-default 0;
    border-top: 1px solid $grey-light;
    vertical-align: middle;
    color: #4e5259;
  }

  &__action {
    color: $grey;
    transition: $transition-1;
    cursor: pointer;

    &:hover {
      color: $primary;
    }

    &:active {
      color: $primary-dark;
    }
  }
}

.text {
  &_wrap {
    &_none {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
