// App Global Font Size
$html-font-size: 16px;

// Colors
$background: #02a794;
$base: #fcfcfc;
$primary: #02d2b3;
$primary-dark: #19bca4;
$secondary: #fff505;
$dark: #2e3542;
$darkest: #1b2029;
$grey: #7d7d7d;
$grey-light: #ebebeb;
$grey-darkest: #646b83;
$error: #d63649;
$accent: #fe030a;
$divider-dark: #5a626f;

$text-dark: #000;
$text-light: #93a4bc;

$themes: (
  dark: (
    base: $dark,
    darkest: $darkest,
    text-light: $text-light,
  ),
);

// Typography
$fw-light: 300;
$fw-normal: 400;
$fw-semi-bold: 500;
$fw-bold: 700;

// Setting for the Typography elements
$fz-xss: 0.5rem !default; // 8px
$fz-xs: 0.75rem !default; // 12px
$fz-sm: 0.8125rem !default; // 13px
$fz-md: 0.875rem !default; // 14px
$fz-base: 1rem !default; // Assumes the browser default, typically `16px`
$fz-lg: 1.125rem !default; // 18px
$fz-llg: 1.5rem !default; // 24px;
$fz-title: 2.25rem !default; // 36px

// Transitions
$transition-1: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
$transition-2: 0.3s ease all;

// Shadows
$shadow-1: 0px 8px 32px rgba(36, 36, 36, 0.12);
$shadow-2: 2px 12px 40px rgba(0, 0, 0, 0.24);

// App Spacing
$padding-xs: 4px;
$padding-micro: 8px;
$padding-small: 12px;
$padding-default: 16px;
$padding-lg: 18px;
$padding-normal: 24px;
$padding-medium: 32px;
$padding-big: 40px;
$padding-max: 64px;

// App settings
$app-br: 36px;
$app-width: 1024px;
$app-height: 768px;

$card-br: 8px;
$sidebar-width: 80px;
$nav-size: 36px;
